<?xml version="1.0" encoding="UTF-8"?>


<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    <context-param>
        <param-name>javax.faces.CONFIG_FILES</param-name>
        <param-value>/log4j2.xml</param-value>
    </context-param>
    <servlet>
        <servlet-name>student-servlet</servlet-name>
        <servlet-class>com.college.student.controller.StudentServlet</servlet-class>
        <init-param>
            <param-name>storageType</param-name>
            <param-value>db</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>student-servlet</servlet-name>
        <url-pattern>/student</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>com.college.student.login.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>loginFilter</filter-name>
        <filter-class>com.college.student.login.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>loginFilter</filter-name>
        <url-pattern>/student</url-pattern>
    </filter-mapping>

    <welcome-file-list>
        <welcome-file>LoginPage.html</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>loggingFilter</filter-name>
        <filter-class>com.college.student.logging.LoggingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>loggingFilter</filter-name>
        <url-pattern>ListStudentDataTable.html</url-pattern>
    </filter-mapping>

<!--    <servlet>-->
<!--        <servlet-name>controller</servlet-name>-->
<!--        <servlet-class>com.college.student.controller.oldfiles.AdmissionControllerServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>controller</servlet-name>-->
<!--        <url-pattern>/control</url-pattern>-->
<!--    </servlet-mapping>-->
<!--    <servlet>-->
<!--        <servlet-name>AsyncStorage</servlet-name>-->
<!--        <servlet-class>com.college.student.controller.oldfiles.SetStorageTypeServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>AsyncStorage</servlet-name>-->
<!--        <url-pattern>/asyncstoragetype</url-pattern>-->
<!--    </servlet-mapping>-->

<!--    <servlet>-->
<!--        <servlet-name>AddStudent</servlet-name>-->
<!--        <servlet-class>com.college.student.controller.oldfiles.AddStudentServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>AddStudent</servlet-name>-->
<!--        <url-pattern>/addstudent</url-pattern>-->
<!--    </servlet-mapping>-->
<!--    <servlet>-->
<!--        <servlet-name>ListStudents</servlet-name>-->
<!--        <servlet-class>com.college.student.controller.oldfiles.ListStudentServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>ListStudents</servlet-name>-->
<!--        <url-pattern>/list-students</url-pattern>-->
<!--    </servlet-mapping>-->
<!--    <servlet>-->
<!--        <servlet-name>UpdateStudent</servlet-name>-->
<!--        <servlet-class>com.college.student.controller.oldfiles.UpdateStudentServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>UpdateStudent</servlet-name>-->
<!--        <url-pattern>/updatestudent</url-pattern>-->
<!--    </servlet-mapping>-->
<!--    <servlet>-->
<!--        <servlet-name>DeleteStudent</servlet-name>-->
<!--        <servlet-class>com.college.student.controller.oldfiles.DeleteStudentServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>DeleteStudent</servlet-name>-->
<!--        <url-pattern>/deletestudent</url-pattern>-->
<!--    </servlet-mapping>-->
<!--    <servlet>-->
<!--        <servlet-name>GetStudent</servlet-name>-->
<!--        <servlet-class>com.college.student.controller.oldfiles.GetStudentDataServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>GetStudent</servlet-name>-->
<!--        <url-pattern>/getstudent</url-pattern>-->
<!--    </servlet-mapping>-->

    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
</web-app>